.showcase {
  .showcase-text {
    padding: 2rem;
  }
  .showcase-img {
    min-height: 20rem;
    background-size: contain;
    background-repeat: no-repeat;
  }
  @media (min-width: 768px) {
    .showcase-text {
      padding: 3rem;
    }
  }
}

label {
  font-style: italic;
  font-weight: bold;
}

.capstone {
  font-size: 5rem;
  font-weight: bolder;
}